<h1>Cadastro de Produtos</h1>
<form action="/cadastrar" method="post">
    <label for="">Nome</label>
    <input type="text" name="nome">
    <br>
    <label for="">Quantidade</label>
    <input type="text" name="qtde">
    <br>
    <label for="">Preço</label>
    <input type="text" name="preco">
    <button type="submit">Cadastrar</button>
</form>