body{
    background-color: cornflowerblue;
    color: white;
}

nav{
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: darkblue;
}




table{
    border: 1px solid white;
}

table th,td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0px;
    font-size: 1.5rem;
}